---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
import Sponsors from "../components/Sponsors.astro";
import Button2 from "../components/Buttons2.astro";
import Articles from "../components/Articles.astro";
---

<MainLayout title="Stop Spild Af Mad">
  <main>
    <section
      class="flex flex-col -mt-17 mb-section_buttom relative md:grid md:grid-cols-2 md:mt-0 md:max-w-6xl md:mx-auto"
    >
      <div class="max-w-xs 200 sm:max-w-sm md:mr-20 md:-mt-17 md:max-w-lg lg:">
        <img src="/img/hero.webp" alt="" />
      </div>

      <section
        class="max-w-2xs mx-auto sm:bg-amber-400 sm:max-w-md md:bg-amber-500 md:max-w-md md:mt-17 md:mr-10 md:-ml-10 lg:bg-amber-600 lg:mt-40"
      >
        <div class="lg:place-self-auto">
          <Heading size="large">STOP SPILD</Heading>
          <div class="flex flex-row">
            <Heading size="large">AF MAD</Heading>
            <img
              src="/img/logo_green.svg"
              alt=""
              class="h-9 place-self-end ml-10 md:h-10 md:ml-8 md:mb-1"
            />
          </div>
        </div>
        <Text size="large" weight="light"
          >Danmarks største bevægelse i mod madspild</Text
        >

        <div class="flex flex-col gap-2 mt-5">
          <Link href="bliv_aktiv" variant="green">GIV ET BIDRAG </Link>
          <Link href="hvad_vi_kan_goere" variant="green-inverted" size="medium"
            >TIPS TIL BEDRE MAD-VANER</Link
          >
        </div>
      </section>
    </section>

    <Sponsors
      bg="bg-green-100"
      tag="SPONSORER"
      sponsor1="EU"
      sponsor2="NORDISK RÅD"
      sponsor3="MILJØSTYRELSEN"
      sponsor4="TUBORG FONDET"
      sponsor5="GYLDENDAL"
      sponsor6="NORDEA"
    />

    <!-- <section class="mb-12">
      <Heading htmlheading="h1" size="large" stylingclasses="mb-4">
        Stop Spild Af Mad
      </Heading>
      <Text>
        Sammen kan vi gøre en forskel. Udforsk hvordan du kan bidrage til kampen
        mod madspild.
      </Text>
    </section> -->

    <!-- <section class="mb-12">
      <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
        Kom i gang
      </Heading>
    </section> -->

    <section
      class="max-w-xs flex flex-col mb-section_buttom mt-section_top gap-5 mx-auto sm:bg-amber-400 sm:max-w-md md:bg-amber-500 md:max-w-6xl md:ml-section_left md:mr-section_right lg:bg-amber-600"
    >
      <Heading htmlheading="h2" size="medium">QUIZ DIG SELV I MADSPILD</Heading>
      <div
        class="flex-row gap-5 -mt-5 md:grid md:grid-cols-5 lg:grid-cols-2 lg:gap-10"
      >
        <div
          class="bg-(--color-yellow--100) flex flex-row rounded-lg my-5 px-5 md:col-span-3 lg:col-span-1 lg:px-10"
        >
          <section
            class="max-w-xs flex flex-col gap-10 place-content-center mx-auto sm:max-w-sm md:max-w-md"
          >
            <div class="pt-5 flex flex-col gap-5 md:gap-3">
              <div class="my-3">
                <Text size="medium">SPØRGSMÅL 1</Text>
                <Text weight="light" size="large"
                  >Hvilke af disse mad rester tæller som madspild?</Text
                >
              </div>

              <div class="flex flex-row gap-7">
                <Text size="large">A</Text>
                <Text size="large">Middagsrester og gammel frugt</Text>
              </div>

              <div class="flex flex-row gap-7">
                <Text size="large">B</Text>
                <Text size="large">Osteskorper og kaffegrums </Text>
              </div>

              <div class="flex flex-row gap-7">
                <Text size="large">C</Text>
                <Text size="large"
                  >Alt affald der kommer fra mad er madspild</Text
                >
              </div>
            </div>

            <div class="mb-5">
              <Link variant="black" size="small">Se Svar →</Link>
            </div>
          </section>
        </div>

        <div class="rounded-lg md:col-span-2 lg:col-span-1 md:py-5">
          <img
            src="/img/quiz.webp"
            alt=""
            class="rounded-lg object-cover w-auto h-full"
          />
        </div>
      </div>

      <!-- <Link>SE SVAR </Link> md:h-110 lg:h-115 md:max-w-xs -->
    </section>

    <Sponsors
      bg="bg-orange-100"
      tag="AMBASADØRER"
      sponsor1="CLAUS HOLM"
      sponsor2="JAKOB ELLEMAN-JENSEN"
      sponsor3="PIA OLSEN DYHR"
      sponsor4="ADAM OG JAMES PRICE"
      sponsor5="UFFE ELBÆK"
      sponsor6="TIM VLADIMIR"
    />

    <section
      class="max-w-xs flex flex-col gap-8 mb-section_buttom mt-section_top mx-auto sm:bg-amber-400 sm:max-w-md md:bg-amber-500 md:max-w-6xl md:ml-section_left md:mr-section_right lg:bg-amber-600"
    >
      <Heading htmlheading="h2" size="medium">HVEM ER VI?</Heading>

      <div class="lg:grid lg:grid-cols-2 lg:gap-10">
        <div class="flex flex-col gap-3 md:mb-10 lg:max-w-md lg:mb-0">
          <Text weight="light"
            >Stop Spild Af Mad er en <strong
              ><span style="font-weight: 600;">non-profit</span></strong
            > organisation og forbrugerbevægelse, som kæmper mod madspild. Siden 2008
            har vi medvirket til at bringe massivt fokus på madspild i Danmark, samt
            opnået en lang række resultater i både <strong
              ><span style="font-weight: 600;">Danmark</span></strong
            >, <strong><span style="font-weight: 600;">EU</span></strong>, <strong
              ><span style="font-weight: 600;">Norden</span></strong
            > og <strong><span style="font-weight: 600;">FN</span></strong>.
          </Text>
          <Text weight="light"
            >Stop Spild Af Mad har både nationale og internationale samarbejder.
            Vi bakkes op af over <strong
              ><span style="font-weight: 600;">60.000 danskere</span></strong
            >, samt en lang række toppolitikere og anerkendte madpersonligheder.
            Vi arbejder aktivt med <strong
              ><span style="font-weight: 600;">FN’s verdensmål</span></strong
            > for bæredygtig udvikling: UN Sustainable Development Goal 12.3.</Text
          >
        </div>

        <div class="flex flex-col place-content-between gap-5">
          <img src="/img/index_frugt.webp" alt="" class="" />
          <div class="place-self-center">
            <Link href="/wip" variant="orange">LÆS MERE OM OS</Link>
          </div>
        </div>
      </div>
    </section>

    <Sponsors
      bg="bg-yellow-100"
      tag="PARTNERE"
      sponsor1="REMA 1000"
      sponsor2="ARLA"
      sponsor3="NORDIC GREENS"
      sponsor4="WEFOOD"
      sponsor5="ARLA"
      sponsor6="OBG NORDICA"
    />

    <Articles />

    <section
      class="max-w-xs mx-auto mb-section_buttom mt-section_top sm:bg-amber-400 sm:max-w-md md:bg-amber-500 md:max-w-6xl md:ml-section_left md:mr-section_right"
    >
      <div class="flex flex-col gap-3 mb-5">
        <Heading htmlheading="h2" size="medium"
          >PRISER OG ANDERKENDELSER</Heading
        >
        <Text weight="lght"
          >Stop Spild Af Mad og dens stifter Selina Juul har fået en lang række
          priser og anerkendelser, bl.a.:</Text
        >
      </div>

      <Link href="wip" variant="purple">SE FLERE PRISER</Link>

      <section class="carousel [scrollbar-width:none]">
        <div class="group">
          <img
            src="/img/pris1.webp"
            alt=""
            class="carousel_img grow-0 shrink-0 basis-5em"
          />
          <img
            src="/img/pris2.webp"
            alt=""
            class="carousel_img grow-0 shrink-0 basis-5em"
          />
          <img
            src="/img/pris3.webp"
            alt=""
            class="carousel_img grow-0 shrink-0 basis-5em"
          />
        </div>

        <div class="group">
          <img
            src="/img/pris1.webp"
            alt=""
            class="carousel_img grow-0 shrink-0 basis-5em"
          />
          <img
            src="/img/pris2.webp"
            alt=""
            class="carousel_img grow-0 shrink-0 basis-5em"
          />
          <img
            src="/img/pris3.webp"
            alt=""
            class="carousel_img grow-0 shrink-0 basis-5em"
          />
        </div>
      </section>
    </section>

    <section class="bg-(--color-purple--100) w-full py-5 lg:flex lg:flex-row">
      <div
        class="max-w-xs mx-auto grid grid-cols-2 mb-5 sm:max-w-md sm:gap-10 md:max-w-6xl md:ml-section_left md:mr-section_right"
      >
        <div class="flex flex-col max-w-65 text-center">
          <Heading font="sans" size="small">200+</Heading>
          <Text weight="light" size="small"
            >projekter og aktiviteter mod madspild siden 2008</Text
          >
        </div>

        <div class="flex flex-col max-w-65 text-center">
          <Heading font="sans" size="small">7.000+</Heading>
          <Text weight="light" size="small"
            >danske og internationale medieomtaler siden 2008</Text
          >
        </div>
      </div>

      <div
        class="max-w-xs mx-auto grid grid-cols-2 sm:max-w-md sm:gap-10 md:max-w-6xl md:ml-section_left md:mr-section_right"
      >
        <div class="flex flex-col max-w-65 text-center">
          <Heading font="sans" size="small">300+</Heading>
          <Text weight="light" size="small"
            >tons overskudsmad videreformidlet til udsatte siden 2011</Text
          >
        </div>

        <div class="flex flex-col max-w-65 text-center">
          <Heading font="sans" size="small">126.000+</Heading>
          <Text weight="light" size="small"
            >følgere på samlede sociale medier</Text
          >
        </div>
      </div>
    </section>
  </main>
</MainLayout>

<style>
  .carousel {
    display: flex;
    overflow-x: auto;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
  }

  .carousel_img {
    flex: 0 0 5em;
    align-content: center;
    padding: 1em;
  }

  @keyframes spin {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }
</style>
